# Python
**/venv/
**/.venv/
**/__pycache__/
*.pyc

# Node / Bun
**/node_modules/
**/.svelte-kit/
**/dist/
**/.vite/

# Environment / secrets
config.json
**/recent.json

# characters (except default)
characters/yinlin

# OS
.DS_Store
Thumbs.db

# misc
sonoro.txt
desktop.ini
memory/